/*body {
    background-color: #2be2ae;
}*/

input {
    margin-top: 5px;
    display: block;
    width: 300px;
}

.add-library-button {
    margin-top: 5px;
}

.logout-button {
    /*margin-top: 5px;*/
    margin-left: 248px;
    display: block;
}